version: "3.8"

services:
  manga_db:
    image: postgres:latest
    container_name: manga_db
    env_file:
      - ./src/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  back:
    container_name: manga_back
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    command: bash entrypoints.sh
    env_file:
      - ./src/.env
    volumes:
      - /opt/services/manga-backend
      - ./src/back_static:/opt/services/manga-backend/src/back_static
    ports:
      - "8765:8765"
    depends_on:
      - manga_db
    links:
      - manga_db

volumes:
  postgres_data: